NEXT_PUBLIC_API_URL=http://localhost:3000/v1
NEXT_PUBLIC_APP_URL=http://localhost:3001
NEXT_PUBLIC_GROSSISTE_URL=http://localhost:3002
NEXT_PUBLIC_INSTITUTIONNEL_URL=http://localhost:3004
NEXT_PUBLIC_ADMIN_URL=http://localhost:3001/admin
NEXT_PUBLIC_LEGACY_WEB_URL=http://localhost:3001
